<h2>Edit Product </h2>

<%= form_tag(("/products/#{params["id"]}"), method: :patch) do %>
<label>Name : </label></br>
<%= text_field_tag :name ,@product["name"]%></br>
<label>Price : </label></br>
<%= text_field_tag :price,@product["price"]%></br>
<label>category : </label></br>

<% #binding.pry %>
<%= select_tag "category_id", options_for_select(@result.collect {|result| [result["name"], result["id"]]}) %> </br>

<%= submit_tag "submit" %>
<% end %>